<o-form-layout-manager attr="Passenger" mode="tab" title="PASSENGER">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PassengerTable" 
            service="Passenger" 
            entity="Passenger" 
            title="PASSENGER"
            keys="id"
            columns="name;airplane_id;email;luggage_weight_total;id" 
            header-actions="R;D"
            visible-columns="name;airplane_id;email;luggage_weight_total;id"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name*" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column attr="airplane_id" title="airplane_id">
    <o-table-cell-renderer-service attr="airplane_id" 
        service="Airplane" entity="AirplaneType" columns="id;id"
        parent-keys="id:airplane_id"
        value-column="id" keys="airplane_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #email attr="email" title="email" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #luggage_weight_total attr="luggage_weight_total" title="luggage_weight_total" type="currency" editable="no" required="no" currency-symbol="$" currency-symbol-position="left" thousand-separator=","decimal-separator="."></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>