<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="id" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Aircraft_form_edit" 
        service="Aircraft" 
        entity="Aircraft" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-integer-input #id attr="id" label=" id*" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-text-input #model attr="model" label="model" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #seating_capacity attr="seating_capacity" label="seating_capacity" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="AIRCRAFTMAINTENANCE-aircraft_id">
    <div layout-padding>
      <o-table 
        attr="AircraftMaintenanceTable" 
        service="AircraftMaintenance" 
        entity="AircraftMaintenance" 
        keys="id"
        parent-keys="aircraft_id:id"
        columns="id;aircraft_id;date_of_maintenance;next_due_date;remarks"  
        horizontal-scroll="yes"
        detail-form-route="AircraftMaintenance" 
        edit-form-route="AircraftMaintenance"
        visible-columns="id;aircraft_id;date_of_maintenance;next_due_date;remarks"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="aircraft_id" title="aircraft_id">
    <o-table-cell-renderer-service attr="aircraft_id" 
        service="Aircraft" entity="AircraftType" columns="id;id"
        parent-keys="id:aircraft_id"
        value-column="id" keys="aircraft_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #date_of_maintenance attr="date_of_maintenance" type="date" label="date_of_maintenance" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-date-input #next_due_date attr="next_due_date" type="date" label="next_due_date" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #remarks attr="remarks" title="remarks" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="FLIGHT-aircraft_id">
    <div layout-padding>
      <o-table 
        attr="FlightTable" 
        service="Flight" 
        entity="Flight" 
        keys="id"
        parent-keys="aircraft_id:id"
        columns="id;aircraft_id;arrival_airport_id;departure_airport_id;flight_number;scheduled_departure;scheduled_arrival"  
        horizontal-scroll="yes"
        detail-form-route="Flight" 
        edit-form-route="Flight"
        visible-columns="id;aircraft_id;arrival_airport_id;departure_airport_id;flight_number;scheduled_departure;scheduled_arrival"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="aircraft_id" title="aircraft_id">
    <o-table-cell-renderer-service attr="aircraft_id" 
        service="Aircraft" entity="AircraftType" columns="id;id"
        parent-keys="id:aircraft_id"
        value-column="id" keys="aircraft_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="arrival_airport_id" title="arrival_airport_id">
    <o-table-cell-renderer-service attr="arrival_airport_id" 
        service="Airport" entity="AirportType" columns="id;name"
        parent-keys="id:arrival_airport_id"
        value-column="name" keys="arrival_airport_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="departure_airport_id" title="departure_airport_id">
    <o-table-cell-renderer-service attr="departure_airport_id" 
        service="Airport" entity="AirportType" columns="id;name"
        parent-keys="id:departure_airport_id"
        value-column="name" keys="departure_airport_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #flight_number attr="flight_number" title="flight_number" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #scheduled_departure attr="scheduled_departure" title="scheduled_departure" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #scheduled_arrival attr="scheduled_arrival" title="scheduled_arrival" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>