<o-form-layout-manager attr="Baggage" mode="tab" title="BAGGAGE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="BaggageTable" 
            service="Baggage" 
            entity="Baggage" 
            title="BAGGAGE"
            keys="id"
            columns="id;passenger_id;weight;baggage_type" 
            header-actions="R;D"
            visible-columns="id;passenger_id;weight;baggage_type"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="passenger_id" title="passenger_id">
    <o-table-cell-renderer-service attr="passenger_id" 
        service="Passenger" entity="PassengerType" columns="id;name"
        parent-keys="id:passenger_id"
        value-column="name" keys="passenger_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #weight attr="weight" title="weight" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #baggage_type attr="baggage_type" title="baggage_type" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>