<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Airport_form_edit" 
        service="Airport" 
        entity="Airport" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #location attr="location" label="location" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #code attr="code" label="code" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="AIRPORTFACILITY-airport_id">
    <div layout-padding>
      <o-table 
        attr="AirportFacilityTable" 
        service="AirportFacility" 
        entity="AirportFacility" 
        keys="id"
        parent-keys="airport_id:id"
        columns="description;airport_id;facility_type;id"  
        horizontal-scroll="yes"
        detail-form-route="AirportFacility" 
        edit-form-route="AirportFacility"
        visible-columns="description;airport_id;facility_type;id"  
        sort-columns="description" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #description attr="description" title=" description*" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column attr="airport_id" title="airport_id">
    <o-table-cell-renderer-service attr="airport_id" 
        service="Airport" entity="AirportType" columns="id;name"
        parent-keys="id:airport_id"
        value-column="name" keys="airport_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #facility_type attr="facility_type" title="facility_type" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="FLIGHT-arrival_airport_id">
    <div layout-padding>
      <o-table 
        attr="FlightTable" 
        service="Flight" 
        entity="Flight" 
        keys="id"
        parent-keys="arrival_airport_id:id"
        columns="id;aircraft_id;arrival_airport_id;departure_airport_id;flight_number;scheduled_departure;scheduled_arrival"  
        horizontal-scroll="yes"
        detail-form-route="Flight" 
        edit-form-route="Flight"
        visible-columns="id;aircraft_id;arrival_airport_id;departure_airport_id;flight_number;scheduled_departure;scheduled_arrival"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="aircraft_id" title="aircraft_id">
    <o-table-cell-renderer-service attr="aircraft_id" 
        service="Aircraft" entity="AircraftType" columns="id;id"
        parent-keys="id:aircraft_id"
        value-column="id" keys="aircraft_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="arrival_airport_id" title="arrival_airport_id">
    <o-table-cell-renderer-service attr="arrival_airport_id" 
        service="Airport" entity="AirportType" columns="id;name"
        parent-keys="id:arrival_airport_id"
        value-column="name" keys="arrival_airport_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="departure_airport_id" title="departure_airport_id">
    <o-table-cell-renderer-service attr="departure_airport_id" 
        service="Airport" entity="AirportType" columns="id;name"
        parent-keys="id:departure_airport_id"
        value-column="name" keys="departure_airport_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #flight_number attr="flight_number" title="flight_number" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #scheduled_departure attr="scheduled_departure" title="scheduled_departure" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #scheduled_arrival attr="scheduled_arrival" title="scheduled_arrival" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="FLIGHT-departure_airport_id">
    <div layout-padding>
      <o-table 
        attr="FlightTable" 
        service="Flight" 
        entity="Flight" 
        keys="id"
        parent-keys="departure_airport_id:id"
        columns="id;aircraft_id;arrival_airport_id;departure_airport_id;flight_number;scheduled_departure;scheduled_arrival"  
        horizontal-scroll="yes"
        detail-form-route="Flight" 
        edit-form-route="Flight"
        visible-columns="id;aircraft_id;arrival_airport_id;departure_airport_id;flight_number;scheduled_departure;scheduled_arrival"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="aircraft_id" title="aircraft_id">
    <o-table-cell-renderer-service attr="aircraft_id" 
        service="Aircraft" entity="AircraftType" columns="id;id"
        parent-keys="id:aircraft_id"
        value-column="id" keys="aircraft_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="arrival_airport_id" title="arrival_airport_id">
    <o-table-cell-renderer-service attr="arrival_airport_id" 
        service="Airport" entity="AirportType" columns="id;name"
        parent-keys="id:arrival_airport_id"
        value-column="name" keys="arrival_airport_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="departure_airport_id" title="departure_airport_id">
    <o-table-cell-renderer-service attr="departure_airport_id" 
        service="Airport" entity="AirportType" columns="id;name"
        parent-keys="id:departure_airport_id"
        value-column="name" keys="departure_airport_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #flight_number attr="flight_number" title="flight_number" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #scheduled_departure attr="scheduled_departure" title="scheduled_departure" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #scheduled_arrival attr="scheduled_arrival" title="scheduled_arrival" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>